<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824026860782-41tljlcffs0sirr8nf4ue3k4bof1d0lt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824026860782-41tljlcffs0sirr8nf4ue3k4bof1d0lt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>824026860782-99490k01d13k766bdorakqgqub1neltl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDeYZ3JKvU3uUAmL1Zxd53kgNWoIppyPBE</string>
	<key>GCM_SENDER_ID</key>
	<string>824026860782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.innubili.jazzx</string>
	<key>PROJECT_ID</key>
	<string>jazzx-97daf</string>
	<key>STORAGE_BUCKET</key>
	<string>jazzx-97daf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824026860782:ios:efb360c68d3cfe8a77f7ff</string>
	<key>DATABASE_URL</key>
	<string>https://jazzx-97daf-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>